<div class='flex items-center justify-between lg:hidden'>
  <div class='flex gap-1 items-center'>
		<div 
			class='cursor-pointer'
			data-toggle-menu
		>
			{% render 'icon', icon: 'menu', class: 'pointer-events-none group-is-active:hidden' %}
			{% render 'icon', icon: 'close', class: 'pointer-events-none hidden group-is-active:block' %}
		</div>
    {% render 'icon', icon: 'search' %}
  </div>

  <div class='flex flex-col items-center'>
    <a class='w-16' href='/'>
      {%- render 'component.image', image: s.logo -%}
    </a>
  
    <nav class='hidden lg:block'>
      <ul class='flex h-full items-center space-x-4 pt-2 font-heading text-menu uppercase'>
        {%- if s.menu != blank -%}
          {% for link in linklists[s.menu].links -%}
            <li class='{%- if link.links != blank -%}flex items-center group relative h-full{%- endif -%}'>
              <a
                class='animated-link flex items-center space-x-1.5 leading-normal'
                href='{{- link.url -}}'
              >
                <span>
                  {{- link.title -}}
                </span>
                {%- if link.links != blank -%}
                  <span>
                    <div class=''>
                      {%- render 'icon',
                        icon: 'icon-down',
                        class: 'group-hover:rotate-180 transition-transform duration-300'
                      -%}
                    </div>
                  </span>
                {%- endif -%}
              </a>
  
              {%- if link.links != blank -%}
                <ul class='animation-appereance bg-theme pointer-events-none absolute -left-[15%] top-5 w-[130%] space-y-2.5 rounded p-5 text-menu-sm opacity-0 shadow-md group-hover:pointer-events-auto group-hover:opacity-100'>
                  {%- for child_link in link.links -%}
                    <li>
                      <a class='animated-link text-menu leading-normal' href='{{- child_link.url -}}'>
                        {{- child_link.title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor %}
        {%- endif -%}
      </ul>
    </nav>
  </div>

  <div class='flex gap-1'>
    {% render 'icon', icon: 'wishlist' %}
    {% render 'icon', icon: 'cart' %}
  </div>
</div>

