{%- liquid
  assign s = section.settings
-%}

{%- if s.menu_left != blank or s.logo != blank or s.menu_right != blank or s.button_text != blank -%}
  <header class='min-h-20 bg-theme flex items-center py-2 shadow-sm'>
    <div class='container-full flex justify-between'>
      <a class='w-full max-w-[2.75rem] lg:hidden' href='/'>
        {%- render 'component.image', image: s.logo, class: '!object-contain' -%}
      </a>

      {%- render 'header-desktop', s: s -%}
    </div>
  </header>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "sticky top-0 z-50",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Button"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
