{%- liquid
  assign s = section.settings
-%}

<header-menu class='group'>
  {%- if s.menu != blank or s.logo != blank -%}
    <header class='min-h-20 h-20 lg:h-auto bg-theme flex items-center py-2 lg:pb-0 shadow-sm relative'>
      <div class='container-full'>
        {%- render 'header-mobile', s: s -%}
        {%- render 'header-desktop', s: s -%}
      </div>
    </header>
  {%- endif -%}

  {%- if s.menu != blank -%}
    <div class='h-[calc(100vh-80px)] top-20 w-full bg-[#1C1C1C] absolute left-0 z-20 group-is-active:opacity-100 group-is-active:translate-y-0 opacity-0 translate-y-4 transition-all duration-500 lg:hidden'>
      <nav>
        <ul class='flex h-full items-center space-x-2.5 pt-4 font-heading text-menu uppercase flex-col'>
          {% for link in linklists[s.menu].links -%}
            <li class='py-2.5 {% if link.links != blank %}flex items-center group h-full{%- endif -%}'>
              <a
                class='animated-link flex items-center space-x-1.5 leading-normal'
                href='{{- link.url -}}'
              >
                <span>
                  {{- link.title -}}
                </span>
                
                {%- if link.links != blank -%}
                  <span>
                    <div class=''>
                      {%- render 'icon',
                        icon: 'icon-down',
                        class: 'group-hover:rotate-180 transition-transform duration-300'
                      -%}
                    </div>
                  </span>
                {%- endif -%}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endif %}
</header-menu>

{% schema %}
{
  "name": "Header",
  "class": "sticky top-0 z-50",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Button"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Submenu",
      "settings": [
        {
          "type": "text",
          "id": "match_menu",
          "label": "Match Menu",
          "info": "Match the menu item to open the submenu"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
