{%- liquid
  assign s = section.settings
-%}

{%- if s.menu_left != blank or s.logo != blank or s.menu_right != blank or s.button_text != blank -%}
  <header class='min-h-20 bg-theme flex items-center pt-2 shadow-sm relative'>
    <div class='container-full'>
      {%- render 'header-mobile', s: s -%}
      {%- render 'header-desktop', s: s -%}
    </div>
  </header>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "sticky top-0 z-50",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Button"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Submenu",
      "settings": [
        {
          "type": "text",
          "id": "match_menu",
          "label": "Match Menu",
          "info": "Match the menu item to open the submenu"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
