{%- liquid
  assign s = section.settings
-%}

{%- if section.blocks.size > 0 -%}
  <div class='container-content grid grid-cols-12 gap-x-6 gap-y-10'>
    {%- for block in section.blocks -%}
      {%- liquid
        assign b = block.settings
      -%}

      {%- if b.image != blank -%}
        <div class='col-span-4'>
          {%- render 'component.image', image: b.image -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Imagery",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Imagery"
    }
  ]
}
{% endschema %}
