{%- liquid
  assign s = section.settings
-%}

<div
  data-aos="fade-up"
  class='container-full grid-desktop'>
  <{{ s.title_tag }}
    class='gradient-heading text-heading-4-mobile lg:text-heading-4 font-bold'
  >
    {{- s.title -}}
  </{{ s.title_tag }}>

  <div class='grid-desktop col-span-full gap-2 lg:gap-5'>
    {%- for product in s.products -%}
      {% render 'product-item',
        product: product
      %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Products Grid",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Product list"
    }
  ],
  "presets": [
    {
      "name": "Products Grid"
    }
  ]
}
{% endschema %}
