{%- liquid
  assign s = section.settings
-%}

{%- if section.blocks.size > 0 -%}
  <div
    style='
      background-color: {{- s.bg_color -}};
      color: {{- s.text_color -}}
    '
    class='py-6'
  >
    <div class='text-label-1 flex items-center justify-center space-x-28 text-center uppercase'>
      {%- for block in section.blocks -%}
        {%- liquid
          assign b = block.settings
        -%}

        <div class='flex flex-col'>
          <div class='mx-auto mb-2 max-w-[4.5rem]'>
            {%- render 'component.image', image: b.image -%}
          </div>
          <span>
            {{- b.text -}}
          </span>
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Stats",
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#E19AA6"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Social Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Stats"
    }
  ]
}
{% endschema %}
